# TODO(travis-ci/travis-ci#8836): Remove once the travis issue is resolved.
sudo: required
addons:
  chrome: stable

language: dart

dart:
  - dev

jobs:
  include:
    - &build
      stage: build
      script: ./tool/travis.sh build
      if: env(PKG) IS present
    - <<: *build
      env: PKG="_tests"
    - <<: *build
      env: PKG="angular_router"
    - <<: *build
      env: PKG="angular_test"
    - &analyze_0
      stage: analyze
      script: ./tool/travis.sh dartanalyzer_0
      if: env(PKG) IS present
    - <<: *analyze_0
      env: PKG="_goldens"
    - <<: *analyze_0
      env: PKG="_goldens/generator"
    - <<: *analyze_0
      env: PKG="angular"
    - <<: *analyze_0
      env: PKG="angular_ast"
    - <<: *analyze_0
      env: PKG="angular_compiler"
    - <<: *analyze_0
      env: PKG="angular_forms"
    - <<: *analyze_0
      env: PKG="angular_router/example"
    - &analyze_1
      stage: analyze
      script: ./tool/travis.sh dartanalyzer_1
      if: env(PKG) IS present
    - <<: *analyze_1
      env: PKG="_tests"
    - <<: *analyze_1
      env: PKG="angular_router"
    - <<: *analyze_1
      env: PKG="angular_test"
    - &test_00
      stage: test
      script: ./tool/travis.sh test_00
      if: env(PKG) IS present
    - <<: *test_00
      env: PKG="_goldens"
    - <<: *test_00
      env: PKG="angular_ast"
    - <<: *test_00
      env: PKG="angular_compiler"
    - &test_01
      stage: test
      script: ./tool/travis.sh test_01
      if: env(PKG) IS present
    - <<: *test_01
      env: PKG="angular_router"
    - <<: *test_01
      env: PKG="angular_test"
    - stage: test
      script: ./tool/travis.sh test_02
      env: PKG="angular_router"
    - stage: test
      script: ./tool/travis.sh test_03
      env: PKG="angular_test"
    - stage: test
      script: ./tool/travis.sh test_04
      env: PKG="_tests"
    - stage: test
      script: ./tool/travis.sh test_05
      env: PKG="_tests"
    - stage: test
      script: ./tool/travis.sh test_06
      env: PKG="_tests"
    - stage: test
      script: ./tool/travis.sh test_07
      env: PKG="_tests"
    - stage: test
      script: ./tool/travis.sh test_08
      env: PKG="_tests"
    - stage: test
      script: ./tool/travis.sh test_09
      env: PKG="_tests"
    - stage: test
      script: ./tool/travis.sh test_10
      env: PKG="_tests"
    - stage: test
      script: ./tool/travis.sh test_11
      env: PKG="_tests"
    - stage: test
      script: ./tool/travis.sh test_12
      env: PKG="_tests"
    - stage: test
      script: ./tool/travis.sh test_13
      env: PKG="_tests"


stages:
  - build
  - analyze
  - name: test
    if: env(PKG) IS present

script: ./tool/travis.sh

# Only building master means that we don't run two builds for each pull request.
branches:
  only: [master]

cache:
 directories:
   - $HOME/.pub-cache
   - _tests/.dart_tool
   - angular_router/.dart_tool
   - angular_test/.dart_tool
