# Created with https://github.com/dart-lang/mono_repo
language: dart

jobs:
  include:
    - stage: analyze
      script: ./tool/travis.sh dartanalyzer_0
      env: PKG="_goldens"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_00
      env: PKG="_goldens"
      dart: dev
    - stage: analyze
      script: ./tool/travis.sh dartanalyzer_0
      env: PKG="_goldens/generator"
      dart: dev
    - stage: analyze
      script: ./tool/travis.sh dartanalyzer_1
      env: PKG="_tests"
      dart: dev
    - stage: build
      script: ./tool/travis.sh command_01
      env: PKG="_tests"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_02
      env: PKG="_tests"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_03
      env: PKG="_tests"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_04
      env: PKG="_tests"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_05
      env: PKG="_tests"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_06
      env: PKG="_tests"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_07
      env: PKG="_tests"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_08
      env: PKG="_tests"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_09
      env: PKG="_tests"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_10
      env: PKG="_tests"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_11
      env: PKG="_tests"
      dart: dev
    - stage: analyze
      script: ./tool/travis.sh dartanalyzer_0
      env: PKG="angular"
      dart: dev
    - stage: analyze
      script: ./tool/travis.sh dartanalyzer_0
      env: PKG="angular_ast"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh test_0
      env: PKG="angular_ast"
      dart: dev
    - stage: analyze
      script: ./tool/travis.sh dartanalyzer_0
      env: PKG="angular_compiler"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh test_0
      env: PKG="angular_compiler"
      dart: dev
    - stage: analyze
      script: ./tool/travis.sh dartanalyzer_0
      env: PKG="angular_forms"
      dart: dev
    - stage: analyze
      script: ./tool/travis.sh dartanalyzer_1
      env: PKG="angular_router"
      dart: dev
    - stage: build
      script: ./tool/travis.sh command_01
      env: PKG="angular_router"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh test_1
      env: PKG="angular_router"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_12
      env: PKG="angular_router"
      dart: dev
    - stage: analyze
      script: ./tool/travis.sh dartanalyzer_1
      env: PKG="angular_test"
      dart: dev
    - stage: build
      script: ./tool/travis.sh command_01
      env: PKG="angular_test"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh test_1
      env: PKG="angular_test"
      dart: dev
    - stage: unit_test
      script: ./tool/travis.sh command_13
      env: PKG="angular_test"
      dart: dev

stages:
  - analyze
  - build
  - unit_test

# Only building master means that we don't run two builds for each pull request.
branches:
  only: [master]

cache:
  directories:
    - $HOME/.pub-cache
