language: dart
sudo: false
dart:
  - stable
  - dev
  - 1.19.1
env:
  - TEST_PLATFORM=vm
  - TEST_PLATFORM=content-shell
  - TEST_PLATFORM=firefox
cache:
  directories:
    - $HOME/.pub-cache
with_content_shell: true
addons:
  firefox: "latest"
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - 't=0; until (xdpyinfo -display :99 &> /dev/null || test $t -gt 10); do sleep 1; let t=$t+1; done'
script: ./tool/travis.sh
