<!-- @ngIgnoreErrors: -->
<h1 #h1>Showing {{items.length}} items:</h1>
<li *ngFor='let item of items; let x=index' [hidden]='item != null'>
    {{x}} : {{item.trim()}}
</li>

<div *ngIf="items.length > 0">
    <form #ngForm="ngForm"></form>
    {{ngForm.dirty}}

    <input [(ngModel)]="header" />

    <my-counter
            #counter
            [count]="items.length"
            [maxCount]='4'
            (reset)=''
            (click)=}
            ]),
            });
            {
            \'\'\');
    '090cedb3f2833a3f260b0937baae56267'h1.hidden = !h1.hidden; counter.reset()'
    (incremented)='items.add($event.toString())'></my-counter>
    </direturnv>

