name: _tests
description: Tests for AngularDart.
environment:
  sdk: ">=2.12.0-0.0.dev <3.0.0"

dependencies:
  # No strict dependencies, we always use dependency_overrides.
  angular:
  angular_test:

  # Actual valid dependencies required.
  build_resolvers: ^1.0.0
  collection: ^1.15.0-nullsafety
  meta: ^1.3.0-nullsafety
  test: ^1.16.0-nullsafety

dev_dependencies:
  # No strict dependencies, we always use dependency_overrides.
  angular_forms:

  # Actual valid dependencies required.
  analyzer: ^0.41.0
  build_runner: ^1.0.0
  build_test: ^1.0.0
  build_web_compilers: ^2.0.0
  mockito: ^3.0.0
  package_config: ^1.9.3
  pedantic: ^1.10.0-nullsafety
  source_span: ^1.8.0-nullsafety
  term_glyph: ^1.2.0-nullsafety

# DO NOT REMOVE. We don't publish this package, it is just for testing.
dependency_overrides:
  angular:
    path: ../angular
  angular_ast:
    path: ../angular_ast
  angular_compiler:
    path: ../angular_compiler
  angular_forms:
    path: ../angular_forms
  angular_router:
    path: ../angular_router
  angular_test:
    path: ../angular_test
