name: _tests
author: Dart Team <web@dartlang.org>
description: Tests for AngularDart.
environment:
  sdk: '>=1.24.0 <2.0.0'
dev_dependencies:
  angular: 4.0.0-dev
  angular_test: '^1.0.0-beta'
  build_runner: ^0.3.4
  build_test: ^0.6.0
  cli_util: ^0.1.0
  mockito: '>=0.11.0 <3.0.0'
  source_span: ^1.4.0
  test: ^0.12.6

# DO NOT REMOVE. We don't publish this package, it is just for testing.
dependency_overrides:
  angular:
    path: ../angular
  angular_compiler:
    path: ../angular_compiler
  angular_router:
    path: ../angular_router
  angular_test:
    path: ../angular_test
  # TODO: Publish a new `build_runner` to remove this override.
  build_barback: 0.3.0

transformers:
  - angular:
      entry_points: test/**_test.dart
      $exclude:
          - test/**.template.dart
          - test/core/reflection/reflector_test.dart
          - test/source_gen/template_compiler/test_files/**

  # Allow test to proxy-load files so we can run tests w/ pub serve.
  - test/pub_serve:
      $include: test/**_test.dart
