name: _tests
author: Dart Team <web@dartlang.org>
description: Tests for AngularDart.
environment:
  sdk: '2.0.0-dev.26.0'

dependencies:
  # No strict dependencies, we always use dependency_overrides.
  angular:
  angular_test:

  # Actual valid dependencies required.
  collection: ^1.14.5
  meta: ^1.1.2
  quiver: ^0.28.0
  test: 0.12.30+4

dev_dependencies:
  # No strict dependencies, we always use dependency_overrides.
  angular_forms:

  # Actual valid dependencies required.
  analyzer: ^0.31.0+1
  build_runner: ^0.7.9
  build_test: ^0.10.0
  build_web_compilers: ^0.3.0
  mockito: '>=0.11.0 <3.0.0'
  source_span: ^1.4.0

# DO NOT REMOVE. We don't publish this package, it is just for testing.
dependency_overrides:
  test:
    git:
      url: git://github.com/dart-lang/test.git
      ref: 2aa4cb25878303c19b2d7e22af6b598e8bb03a30
  angular:
    path: ../angular
  angular_ast:
    path: ../angular_ast
  angular_compiler:
    path: ../angular_compiler
  angular_forms:
    path: ../angular_forms
  angular_router:
    path: ../angular_router
  angular_test:
    path: ../angular_test
